@model OnBalance.Models.Organization

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using( Html.BeginForm() )
{
    
    @Html.ValidationSummary()
    
    @Html.EditorForModel()
    @*@Html.RenderPartial("~/Views/Shared/EditorTemplates/Organization.ascx", Model)*@
        
    <div class="bottom_links">
        <input type="submit" value="Create" />
        @Html.ActionLink("Back to list of companies", "list")
    </div>
    
}
