*.suo
packages/
doc/*.xls
doc/jsdatagrids/
OnBalance/bin/
OnBalance/obj/
OnBalance/Scripts/yui/
OnBalance/App_Data/
OnBalance/logs/
OnBalance/ConnectionString.config
*.sln
*.bak
OnBalance/test*.htm


