*.suo
packages/
doc/*.xls
doc/jsdatagrids/
OnBalance/bin/
OnBalance/obj/
OnBalance/Scripts/yui/
OnBalance/Scripts/test*.*
OnBalance/App_Data/
OnBalance/logs/
OnBalance/ConnectionString.config
*.sln
*.bak
*.xml
*.nunit
OnBalance/test*.*
OnBalance/log4net.xml
OnBalance/OnBalance.csproj.user
OnBalance/packages.config
OnBalance.UnitTests/packages.config

OnBalance.Domain/bin/
OnBalance.Domain/bin/Debug/
OnBalance.Domain/bin/Release/
OnBalance.Domain/obj/
OnBalance.Domain/packages.xml

OnBalance.UnitTests/bin/
OnBalance.UnitTests/bin/Debug/
OnBalance.UnitTests/bin/Release/
OnBalance.UnitTests/obj/
OnBalance.UnitTest/packages.xml

OnBalance/UpgradeLog.htm
OnBalance/Backup/


OnBalance.Domain/packages.config
OnBalance.UnitTests/packages.config
UpgradeLog.htm
*.dll
*.pdb
*.cache
OnBalance.Parsers/obj/Debug/OnBalance.Parsers.csproj.FileListAbsolute.txt
OnBalance.ParsersUnitTest/obj/Debug/OnBalance.ParsersUnitTest.csproj.FileListAbsolute.txt
UpgradeLog2.htm
OnBalance.Core/obj/Debug/OnBalance.Core.csproj.FileListAbsolute.txt
OnBalance.ParsersUnitTest/bin/Debug/OnBalance.ParsersUnitTest.dll.config
doc/import/2014-07-01/SANDELIAI DRABUZIAI.sxc
doc/import/2014-07-01/SANDELIAI KEDAI.sxc
