<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("/css/onbalance.css")" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="wrapper">
    <header id="header">
	    <div class="logo">

	    </div>
    </header>

	<div id="container">
		<div id="content">
            @RenderBody()
        </div><!-- #content-->
	</div><!-- #container-->

</div>

</body>
</html>
