@model IEnumerable<OnBalance.Models.ObLog>

<table style="width: 90%" class="log-table">
    <tr>
        <th class="dt left">
            Date
        </th>
        <th class="lvl left">
            Level
        </th>
        <th class="msg left">
            Message
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="dt">
            @Html.DisplayFor(x => item.Date)
        </td>
        <td class="lvl">
            @Html.DisplayFor(x => item.Level)
        </td>
        <td class="msg">
            @Html.DisplayFor(x => item.Message)
        </td>
    </tr>
    if( !string.IsNullOrWhiteSpace(item.Exception) )
    {
        <tr>
            <td colspan="3" class="ex">
                @Html.DisplayFor(x => item.Exception)
            </td>
        </tr>
    }
}

</table>
