@model OnBalance.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using(Html.BeginForm())
{

    @Html.ValidationSummary(false)
    @Html.EditorForModel()

    <p>
        @Html.ActionLink(OnBalance.MyMessages.ButtonText.Back, "index", "useradmin")
        <input type="submit" value="@OnBalance.MyMessages.ButtonText.Save" />
    </p>
    
}
