@model OnBalance.Models.ChangePassword

@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change password for @Model.UserName</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    @Html.EditorForModel()

    <div class="bottom_links">
        <input type="submit" value="Change" />
        @Html.ActionLink("Back to list of users", "index")
    </div>
}

