@model OnBalance.Models.BalanceItem

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

@using( Html.BeginForm() )
{

    <div>Confirm?!</div>
    <input type="checkbox" name="confirm" />
    <input type="submit" />
    
}
