@model OnBalance.Models.BalanceItem

@{
    ViewBag.Title = "Cancel";
    //OnBalance.Models.Product product = (OnBalance.Models.Product)ViewBag.Product;
}

<h2>Confirm product change cancellation</h2>

@Html.Partial("MessagesAndErrors")

@using( Html.BeginForm() )
{

    <input type="checkbox" name="confirm" />
    <div class="label label-important">Do you want to cancel product change?</div>
    <br /><br />
    <div>
        @Html.DisplayForModel()
    </div>
    <div class="btn-group">
        <input type="submit" class="btn btn-small btn-danger" value="@OnBalance.MyMessages.ButtonText.Confirm" />
        @Html.ActionLink(OnBalance.MyMessages.ButtonText.Back, "list", "balance", new { id = Model.PosId }, new { @class = "btn btn-small" })
    </div>
    
    
}
