@model OnBalance.ViewModels.PendingChangesViewModel

@*<div class="display-label">@Html.LabelFor(x => x.LocalChangedRecordsQnt)</div>
<div class="display-field">@Html.TextBoxFor(x => x.LocalChangedRecordsQnt, new { @readonly = "readonly" })</div>
<div class="display-label">LocalChangedRecordsQnt</div>
<div class="display-field">0</div>*@
<div class="display-label"><button id="ShowRemotePending">View pending changes</button></div>
@*<div class="display-field">0</div>*@
