@model IEnumerable<OnBalance.Models.ProductDetail>
           
@{
    var categories = Model.Select(x => x.parameter_name).Distinct();

    string[] cats = new OnBalance.Models.ProductRepository().GetAvailableSizes(1001);
}

<table class="table table-condensed">
    <thead>
        <tr>
        @for(int i = 0; i < cats.Length; i++)
        {
            <td>@cats[i]</td>
        }
        </tr>
    </thead>
    <tbody class="font-mini">
        <tr>
        @for(int i = 0; i < cats.Length; i++)
        {
            var v = Model.FirstOrDefault(x => x.parameter_value.Equals(cats[i]));
            <td>
                @if( v != null )
                {
                    <abbr title="@string.Format("Quantity: {0} x {1:C}", v.quantity, v.price_minor)">@v.quantity</abbr>
                }
                else
                {

                }
            </td>
        }
        </tr>
    </tbody>
</table>
