@model OnBalance.Models.Category

@{
    ViewBag.Title = "Create category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create category</h2>


@using(Html.BeginForm())
{
    @Html.ValidationSummary()
    
    @Html.EditorForModel()

    <input type="submit" value="Save" />
    @Html.ImageLink("/images/productadmin.png", "List of products", Url.Action("list", "pradmin"), new { width = 16, heigth = 16 }, null)
}
