@model OnBalance.Models.Product

@{
    ViewBag.Title = "Edit";
    Html.ResourceManager().AddCssFile("~/css/gh-buttons.css");
}

<h2>Edit</h2>

@using( Html.BeginForm() )
{

    @Html.EditorForModel()

    <button class="button icon approve primary">@OnBalance.MyMessages.ButtonText.Save</button>
   
}
