@model OnBalance.Models.Category

@{
    ViewBag.Title = "EditCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit category @Model.name</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary()
    
    @Html.EditorForModel()

    <input type="submit" value="Save" />
    @Html.ImageLink("/images/productadmin.png", "List of products", Url.Action("list", "pradmin"), new { width = 16, heigth = 16 }, null)
}

