@model OnBalance.ViewModels.TextParserViewModel

@{
    ViewBag.Title = "Parse";
}

<h2>Parse</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="editor-label">@Html.LabelFor(x => x.Text)</div>
    <div class="editor-field">
        @Html.ValidationMessageFor(x => x.Text)
        @Html.TextAreaFor(x => x.Text, new { rows = 50, cols = 160, style = "font-family: Courier New; font-size: x-small;" })
    </div>
    
    <input type="submit" value="Parse..."/>
    
}
