body
{
    font-size: 12px;
    font-family: Arial;
    color: #505050;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #1b548d;
    background: #e6f0f3;
    padding: 10px 12px;
    border-bottom: 1px solid #b3cbd6;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: #fff;
}

#header {
    height: 85px;
    /*background: #fff;*/
    background: url(/images/header-repeat.jpg) repeat-x;
}

#middle {
    width: 100%;
    padding: 0 0 30px;
    height: 1%;
    position: relative;
}

#container {
    width: 100%;
    float: left;
    overflow: hidden;
}

#content {
    padding: 0 5px 0 155px;
}

#footer {
    width: 1000px;
    margin: -30px auto 0;
    height: 30px;
    position: relative;
    background: #E1E8F4;
}

#sideLeft {
    float: left;
    width: 150px;
    margin-left: -100%;
    position: relative;
    /*background: #315e88;*/
}

.copyright {
    padding-top: 8px;
    text-align: center;
}

.logo {
    width: 214px;
    height: 68px;
    background: url(/images/logo.png) no-repeat;
    position: relative;
    background-position: 30px 18px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field input
{
    border-radius: 4px;
    border: 2px solid #BCC2CD;
    background-color:#FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    height: 16px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Customisation */
input
{
    border:1px solid #bcc2cd;
    border-radius: 3px;
    color:#585858;
    font-size:13px;
}

a
{
    font-size: 12px;
    line-height: 12px;
    color: #003db8;
    text-decoration: none;
}

.vspacer5
{
    /*height: 5px;*/
}

.main_content_left
{
    float: left;
    width: 155px;
}

.main_content_center
{
    width: 850px;
    float: left;
}

/* CSS helpers */
.right{ text-align: right; }
.left{ text-align: left; }

.fleft{float: left;}
.fright{float: right;}

.b {font-weight: bold;}

/* END of CSS helpers */

.user_shop_list, .user_imports_list, .user_exports_list
{
    width: 150px;
    padding: 0;
    font-weight: bold;
    border: solid 1px #97aebf;
    min-height: 100px;
}

.list_header
{
    background-color: #97aebf;
    padding: 2px;
    color: #fff;
}

.list_actions li
{
    list-style-type: none;
    display: inline;
}

.user_export_item, .user_import_item, .user_shop_item
{
    padding-left: 5px;
}

.cm_red
{
    color: #f00;
}
.cm_green
{
    color: #0f0;
}
.cm_blue
{
    color: #00f;
}

.yui-skin-sam tr.yui-dt-odd.red,
.yui-skin-sam tr.yui-dt-even.red
{
    background-color: #f00;
}
.yui-skin-sam tr.yui-dt-odd.green,
.yui-skin-sam tr.yui-dt-even.green
{
    background-color: #0f0;
}
.yui-skin-sam tr.yui-dt-odd.blue,
.yui-skin-sam tr.yui-dt-even.blue
{
    background-color: #00f;
}

/* Logs */
.log-table td
{
    font-family: "Courier New";
    font-size: smaller;
}
.log-table .dt
{
    width: 140px;
}
.log-table .lvl
{
    width: 50px;
}
.log-table .ex
{
    color: #FCC90D;
}