@model int

@{
    // CSS for nice buttons :)
    Html.ResourceManager().AddCssFile("~/css/gh-buttons.css");
    
    var list = new OnBalance.Models.CategoryTypeRepository().Items.ToList();
}


<div class="button-group minor-group">
@foreach(var item in list)
{
    <div class="button pill @(item.Id == Model ? "primary" : "")">
        @item.Name
    </div>
}
</div>


