@model OnBalance.Models.BalanceItem

@{
    string prefix = string.IsNullOrEmpty(ViewData.TemplateInfo.HtmlFieldPrefix) ? "" : ViewData.TemplateInfo.HtmlFieldPrefix + ".";
    int index = 0;
    string prefixForDictionary = "";
    
    foreach(var item in OnBalance.Models.ProductRepository.GetAvailableNames("size"))
    {
        prefixForDictionary = string.Format("{0}QuantityForSizes[{1}].", prefix, index);
        @Html.Hidden(prefixForDictionary + "key", item);
        <div class="dtrow">
            <div class="dtcell">@item</div>
            <div class="dtcell">
                @Html.TextBox(prefixForDictionary + "value")
            </div>
        </div>
    
        index++;
    } 

    
}
