@{
    ViewBag.Title = "Preview";

    var ajaxOptions = new AjaxOptions() {
        LoadingElementId = "LoadingDiv"
    };
}

<h2>Preview data</h2>

@using(Ajax.BeginForm("preview", ajaxOptions))
{
    @Html.DropDownList("ProductType", new List<SelectListItem>
    {
        new SelectListItem { Text = "GJ shoes", Value = "gjshoes" },
        new SelectListItem { Text = "GJ dress", Value = "gjdress" }
    })<br />
    @Html.TextArea("Data", new { style = "font-family: Courier New; height: 500px; width: 800px" })<br />
    <button class="btn btn-mini btn-primary">Preview</button>
}

