@model IEnumerable<OnBalance.Parsers.BalanceParseError>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width: 90%">
    <tr>
        <th>
            LineNr
        </th>
        <th>
            Line
        </th>
        <th>
            Error
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.LineNr + 3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Error)
        </td>
    </tr>
}

</table>
